/* CSS RESET ******************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************************************************************/


body {
  /* background: #f9f9f9; */
  background: #f8f8f8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.App {
  background: #c1c1c1;
  width: 60rem;
  margin: 0 auto;
}

.header-wrap {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  margin-top: 1rem;
}

.header-left {

}

.header-right {

}

.header-right a {
  text-decoration: none;
  color: black;
}

.header-right a:hover {
  text-decoration: underline;
  color: grey;
}

.main-wrap {
  background: lightgrey;
  height: 36rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}


.sidebarleft-wrap {
  background: lightgreen;
  width: 8rem;
}


/* MAIN MIDDLE COMPONENT ***************/
.mainmiddle-wrap {
  background: lightyellow;
  width: 41rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* BOARD */
.board-wrap {
  background: lightblue;
  height: 65%;
  display: flex;
  justify-content: space-between; 
  flex-direction: column;
  margin-bottom: 1rem;
}

.board-row {
  display: flex;
  justify-content: space-between; 
  height: 100%;
}


/* TILE */
.tile-wrap {
  border: 1px solid #80808024;
  box-sizing: border-box;
  width: 100%;
  -webkit-user-select: none;  /* Safari */        
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+/Edge */
  user-select: none;          /* Standard */
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1rem;
}

.tile-wrap.BLACK { color: black; }
.tile-wrap.RED { color: red; }
.tile-wrap.GREEN { color: green; }
.tile-wrap.BLUE { color: blue; }

.tile-wrap.BLACK:hover, 
.tile-wrap.RED:hover,
.tile-wrap.GREEN:hover,  
.tile-wrap.BLUE:hover {
  cursor: grab;
  background: lightgrey;
}


/* RACK */
.rack-wrap {
  background: pink;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rack-row {
  display: flex;
  height: 100%;
}
/***************************************/


.sidebarright-wrap {
  background: lightcoral;
  width: 8rem;
}


/* WELCOME COMPONENT *******************/
.welcome-wrap {
  padding-top: 14rem;
  text-align: center;
}

.welcome-wrap div,
.welcome-wrap button {
  margin-top: 2rem;
}

.welcome-wrap button:hover {
  cursor: pointer;
}
/****************************************/